# Data
data/SAMPLE/mat_files
data/SAMPLE/png_images
data/README.md
data/sample_public.pdf
data/verify.py

# Python
__pycache__/
*.pyc

.ipynb_checkpoints/
*.ipynb~

# Envs
#.env
#.venv
