# Data
data/SAMPLE/mat_files
data/SAMPLE/png_images
data/README.md
data/sample_public.pdf
data/verify.py
data/SAMPLE/alvin_edited_files/log_mapping_global
data/MSTAR

# Python
__pycache__/
*.pyc

.ipynb_checkpoints/
*.ipynb~

# Envs
#.env
#.venv

papers/

notebooks/SSR/lightning_logs
