--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.9.1+cu130
torchvision==0.24.1+cu130

polars
pandas
numba-cuda[cu13]
cupy-cuda13x
scipy
scikit-image[optional]
scikit-learn
umap-learn
lightning
optuna
simpleitk

bayesian-torch
pyro-ppl

--extra-index-url=https://pypi.nvidia.com
cudf-cu13==25.12.*
dask-cudf-cu13==25.12.*
cuml-cu13==25.12.*
cugraph-cu13==25.12.*
nx-cugraph-cu13==25.12.*
cuxfilter-cu13==25.12.*
cucim-cu13==25.12.*
pylibraft-cu13==25.12.*
raft-dask-cu13==25.12.*
cuvs-cu13==25.12.*
nx-cugraph-cu13==25.12.*

opencv-python
matplotlib
seaborn
jupyterlab

KDEpy
